
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v15.0" nonce="yuu6Vvg8"></script>
      <!-- page Navigation -->
      <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="#">
              
                <img src="/assets/imgs/logo2.png" alt="#">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                     
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item"  data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small">
                        <a class="nav-link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">share</a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Givaway</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://collins-movies-search.netlify.app">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://collinsportfolio-28.netlify.app/" class="ml-4 nav-link btn btn-primary btn-sm rounded">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/donate" class="ml-4 nav-link btn btn-primary btn-sm rounded">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->

    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h1 class="subtitle">my name is Collins Ndukwe aka <i style="color: yellow;"><a href="https://wa.me/+2349121991685">pHreshcode</a></i></h1>
            <h1 class="title">I am  a Mernstack</h1>  
        </div>  
        <div class="shape">
            <svg viewBox="0 0 1500 200">
                <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z"/>
            </svg>
        </div>  
        <div class="mouse-icon"><div class="wheel"></div></div>
    </header>


    <footer class="mt-5 py-4 border-top border-secondary">
        <p class="mb-0 small">&copy; <script>document.write(new Date().getFullYear())</script>, my Portfolio Created By <a href="https://wa.me/+2349121991685" target="_blank">pHreshcode.</a>  All rights reserved </p>     
    </footer>

          <script type='text/javascript'>
      document.tidioChatCode = "fd4revulrzlo2em60dbzkx1gmmjfabzv";
      (function() {
        function asyncLoad() {
          var tidioScript = document.createElement("script");
          tidioScript.type = "text/javascript";
          tidioScript.async = true;
          tidioScript.src = "http://code.tidio.co/fd4revulrzlo2em60dbzkx1gmmjfabzv.js";
          document.body.appendChild(tidioScript);
        }
        if (window.attachEvent) {
          window.attachEvent("onload", asyncLoad);
        } else {
          window.addEventListener("load", asyncLoad, false);
        }
      })();
      </script> 

</body>

