<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/thirdparties/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/user.css' />

        <!-- font icons -->
    <link rel="stylesheet" href="/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + LeadMark main styles -->
	<link rel="stylesheet" href="/assets/css/leadmark.css">
  </head>
  <body>

    {{{body}}}

    <script src="/thirdparties/jquery/jquery.min.js"></script>
    <script src="/thirdparties/bootstrap/js/bootstrap.min.js"></script>
    <script src="/thirdparties/axios/axios.min.js"></script>
    <script src="/custom/javascript/script.js"></script>

       <!-- core  -->
    <script src="/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope -->
    <script src="/assets/vendors/isotope/isotope.pkgd.js"></script>

    <!-- LeadMark js -->
    <script src="/assets/js/leadmark.js"></script>
  </body>
</html>
